body {
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/fb/cat-yellow-eyes-paw-funny-cute-simple-background-digital-art.jpg");
    background-color: #000000; /* Used if the image is unavailable */
    background-position: 0cm 0cm; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

a{text-decoration: none;}
a:link {color: rgb(142, 201, 255);}/* unvisited link */
a:visited {color: rgb(207, 115, 212);}/* visited link */
a:hover {color: rgb(255, 255, 255);}/* mouse over link */
a:active {color: rgb(255, 69, 32);}/* selected link */

.caja{
    width: 60%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 4px;
    border-right: solid;    
    border-bottom: solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #202020;
    border-radius: 6px;
    background-color: #3a3a3a;
}

.BgForText {
    background: rgb(90, 90, 90);
}

#Contact-Btn {
    margin: auto;
    padding: 15px;
    font-weight: 600;
    background-color: #282828;
    border-width: 1px; 
    border-radius: 4px;
}

#Contact-Btn:hover{background-color: rgb(49, 68, 131);}

.dropdown{
    background-color: #313131;
    padding:15px 0px;  
    display: inline;
}

.dropdown-btn{
    border-radius: 0;
    border-width: 0;
    border-right: 1px solid black;
    border-left : 1px solid black;
    background-color: #313131;  
    color: white;
    font-weight: 600;
    padding: 15px;
}

.dropdown-btn a:visited{color: white;}
.dropdown-btn:hover{
    background-color: rgb(49, 68, 131);
    cursor: pointer;
    position: relative
}

.dropdown-content{
    position: absolute;
    background-color: #313131;  
    border: 1px solid black;
    margin: 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.616);
    display: none;
}

.dropdown:hover .dropdown-content{display: block;}
.dropdown-content p {padding: 15px 10px; margin: 0;}
.dropdown-content p:hover {background-color: rgb(49, 68, 131);}

header{
    background-color: #3a3a3a;
    border: 0 solid;
    border-bottom: 2px solid;
    border-color: #202020;
    position:fixed;
    display: inline;
    width: 100%
}

.mainTitle {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imageBox {
    width: 80%;
    margin: auto;
    border-width: 4px;
    border-right: solid;    
    border-bottom: solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #282828;
    border-radius: 6px;
}