body {
    background: url("https://img5.goodfon.com/wallpaper/nbig/c/fb/cat-yellow-eyes-paw-funny-cute-simple-background-digital-art.jpg") no-repeat left top scroll;
    /*background-color: #000000;/* Used if the image is unavailable */
    /*background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/fb/cat-yellow-eyes-paw-funny-cute-simple-background-digital-art.jpg");
    /*background-repeat: no-repeat;/* Do not repeat the image */
    /*background-position: left top;/* Center the image */
    /*background-attachment: scroll;/* image scroll with the content */
    background-size:cover;/* Resize the background image to cover the entire container */
    color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

main {
    margin-top: 65px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}
a:link {color: rgb(142, 201, 255);}/* unvisited link */
a:visited {color: rgb(207, 115, 212);}/* visited link */
a:hover {color: rgb(255, 255, 255);}/* mouse over link */
a:active {color: rgb(255, 69, 32);}/* selected link */

.caja {
    width: 60%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background-color: #3a3a3a;
}

button {
    margin: auto;
    padding: 15px;
    font-weight: 600;
    background-color: #282828;
    border-width: 1px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
button:hover {background-color: rgb(49, 68, 131);}

header {
    background-color: #3a3a3a;
    color: white;
    position: fixed;
    width: 100%;
    height: 39px;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.171);
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
}

.dropdown {
    /*BARRA SOBRE EL HEADER, MOSTRAR CON OVERFLOW HIDDEN*/
    background-color: #51ff00;
}

.navButton {
    background-color: rgb(19, 77, 184);
    color: black;
    border: 0 solid ;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
    transition: padding, border-radius, box-shadow, 0.2s;
    padding: 12px 15px;
}
.navButton:hover{
    background-color: rgb(26, 96, 226);
    color: white;
    text-shadow: 0 0 15px white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 35px rgb(19, 77, 184);
    padding: 20px 15px;
}

.navlistbutton{
    background-color: rgb(19, 77, 184);
    color: black;
    border: 0 solid ;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
    transition: padding, border-radius, box-shadow, 0.2s;
    padding: 12px 15px;
}

.navlistbutton:hover{
    background-color: rgb(26, 96, 226);
    color: white;
    text-shadow: 0 0 15px white;
    box-shadow: 0 0 35px rgb(19, 77, 184);
}

.dropdown-Btn {
    /*BARRA QUE INCLUYE BOTONES*/
    background-color: #ff00ea;
}

.dropdown-content { 
    background-color: rgb(26, 96, 226);
    display: block;
    overflow: hidden;
    position:fixed;
    top: 40px;
    left: 1px;
    width: 115px;
    height:0;
    transition: height, 0.3s;
}

.listButton {
    color: black;
    background-color: rgb(19, 77, 184);
    border: 0 solid;
    border-radius: 0px;
    padding: 12px 15px;
    width: 100%;
    transition: background-color, padding 0.3s;
}
.listButton:hover {
    background-color: rgb(26, 96, 226);
    color: white;
    text-shadow: 0 0 15px white;
    padding: 20px 15px;
}

.dropdown-Btn:hover .dropdown-content {
    background-color: rgba(0, 255, 76, 0);
    height: 150px;
}

.Left-Float{float: left;}
.Right-Float{float: right;}

.mainTitle {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imageBox {
    width: 50%;
    transform: rotateZ(180deg);
    transition: transform 0.3s;
    margin: auto;
    border: 0px solid #282828;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.imageBox:hover{transform: rotateZ(0deg);}

input, textarea {
    color: white;
    background-color: rgb(85, 85, 85);
    width: 100%;
    box-sizing:border-box;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 4px;
}

input[type=email]{
    display:inline-block;
}

input[type=text]{
    display:inline-block;
}

input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(49, 68, 131);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}