body {
    background: url("https://img5.goodfon.com/wallpaper/nbig/c/fb/cat-yellow-eyes-paw-funny-cute-simple-background-digital-art.jpg") no-repeat left top scroll;
    /*background-color: #000000;/* Used if the image is unavailable */
    /*background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/fb/cat-yellow-eyes-paw-funny-cute-simple-background-digital-art.jpg");
    /*background-repeat: no-repeat;/* Do not repeat the image */
    /*background-position: left top;/* Center the image */
    /*background-attachment: scroll;/* image scroll with the content */
    background-size:cover;/* Resize the background image to cover the entire container */
    color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}
a:link {color: rgb(142, 201, 255);}/* unvisited link */
a:visited {color: rgb(207, 115, 212);}/* visited link */
a:hover {color: rgb(255, 255, 255);}/* mouse over link */
a:active {color: rgb(255, 69, 32);}/* selected link */

.caja {
    width: 60%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 4px;
    border-right: solid;
    border-bottom: solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #202020;
    border-radius: 6px;
    background-color: #3a3a3a;
}

button {
    margin: auto;
    padding: 15px;
    font-weight: 600;
    background-color: #282828;
    border-width: 1px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
button:hover {background-color: rgb(49, 68, 131);}

.dropdown {
    position: relative;
    display: inline;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown-btn {
    border-radius: 0;
    border-width: 0;
    background-color: #424242;
    color: white;
    font-weight: 600;
    padding: 15px;
}
.dropdown-btn a:visited {color: white;}
.dropdown-btn:hover {background-color: rgb(49, 68, 131); cursor: pointer; position: relative;}

.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #313131;
    min-width: 140px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.616);
}
.dropdown-content p {padding: 15px 10px;margin: 0; cursor: pointer;}
.dropdown-content p:hover {background-color: rgb(49, 68, 131); cursor: pointer;}

header {
    background-color: #3a3a3a;
    border-bottom: 2px solid #313131;
    position: fixed;
    width: 100%;
}

.mainTitle {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imageBox {
    width: 40%;
    transform: rotateZ(180deg);
    transition: transform 0.3s, width 0.3s;
    margin: auto;
    border-width: 4px;
    border-right: solid;
    border-bottom: solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #282828;
    border-radius: 6px;
}
.imageBox:hover{width: 50%; transform: rotateZ(0deg);}

input, textarea {
    color: white;
    background-color: rgb(85, 85, 85);
    width: 100%;
    box-sizing:border-box;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 4px;
}

input[type=email]{
    display:inline-block;
}

input[type=text]{
    display:inline-block;
}

input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(49, 68, 131);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}